#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  max-width: 350px;
  gap: 1em;
}

form .form-field {
  display: flex;
  flex-direction: column;
}
form .form-field > label {
  margin-bottom: 0.45em;
}

ul > li {
  font-family: monospace;
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  border-bottom: 1px solid #ccc;
}
